<h1>User Management</h1>

<p>Please refer <a href="https://github.com/VaishakVk/UserManagement/blob/master/README.md">here</a> for sample payloads</p>
<h2>Routes</h2>

<h3>GET</h3>

<p><strong>user/user_id/</strong> - Permissions related to a particular user</p>

<p><strong>/checkpermission/?userid=user_id&permissionid=permission_id</strong> - Check if the permission provided exists for the user</p>

<h3>POST</h3>

<p><strong>roles/role_id/</strong> - Add permissions to a role</p>

<h3>DELETE</h3>

<p><strong>permissions/permission_id/</strong> - Delete an existing permission</p>